<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- ★ 권한은 반드시 manifest 바로 아래 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 🔥 Android 14+ mediaPlayback 전용 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <application
        android:name=".PythonTTSMVVMApp">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TTS 백그라운드 재생 서비스 -->
        <service
            android:name=".service.TtsForegroundService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />

    </application>

</manifest>